<app-header></app-header>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened="true" #drawer (close)="onSidenavClose()" (open)="onSidenavOpened()">
        <app-leftside></app-leftside>
  </mat-drawer>

  <mat-drawer-content>
       <!-- background-image: url("../../assets/images/main_bg.jpg"); -->
 <img class="bgImg" *ngIf='first'src="../../assets/images/main_bg.jpg" alt=""/>
      <!-- <h1 *ngIf='first'>欢迎使用井盖监控管理系统</h1> -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
