
<form action="" [formGroup]="formGroup">
    <div class="title">
        修改密码
    </div>
    <mat-form-field>
      <input type="password" matInput placeholder="原密码" formControlName='oldPassword'>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="密码" formControlName='newPassword'>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="确认密码" formControlName='password2'>
    </mat-form-field>
    <div class="foot">
      <button mat-button class="add-btn" (click)="updateUserPassword()">确认</button>
    </div>
</form>
