@import "../../../variables.scss";

:host {
  .title {
    border-bottom: 4px solid $theme;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    display: inline-block;
    width: 400px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    padding: 15px;
    margin: 50px 200px;
  }

  mat-form-field {
    width: 400px;
    // max-width: 400px;
  }

  .foot {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .foot button {
    width: 50%;
  }
}
