$theme:#334960;
$white: #ffffff;
//添加按钮
$add: #F9CF63;
//编辑按钮
$edit: #F9CF63;
//删除按钮
$delete:#AD8255;
//搜索按钮
$search: #f9d365;
//按钮 普通
$default:#005289;
//菜单激活,矩形标记
$active:#F7C109;
//分页条当前页
$currentPage:#334960;
//文本信息颜色
$primaryInfo:#286090;
$successInfo:#5CB85C;
$dangerInfo:#D9534F;
$warningInfo:#F0AD4E;
$info:#5BC0DE;
//提交确认按钮
$commint:#F9CF63;
//详情按钮
 $detail:#AD8255;

